name: bv-tech

services:

  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: server
    platform: linux/arm64
    ports:
      - "8000:8000"
    restart: unless-stopped
    env_file:
      - .env
    environment:
      PYTHONUNBUFFERED: "1"
      PYTHONPATH: /app/src